use asdf;

export KUBECONFIG=$(pwd)/.kubeconfig
export PATH=${PATH}:$(go env GOROOT)/bin:$(go env GOPATH)/bin

export BASIC_AUTH_PASSWORD="admin"
export CLUSTER_NAME=$(kubectl config current-context)
export CONTROL_PLANE_ADDRESS=$(kubectl config view --minify | grep server | cut -f 2- -d ":" | tr -d " ")
export NAMESPACE="permission-manager-control-plane"
export PORT="4000"
